extend layout

block content
  p
    | Welcome to AniTech Development website. Created in Node.js
    | Hope your stay is entertained.
    
  p
    | Currently just a testing site. Planning on extending the range of the site to further extensions.

block sidebar
  .widget
    h1 TimeLine
    p
      | Site Launched. Awaiting deployment.
    
    //p
      | Site Deployed. Awaiting Phase 2.

