!!!5
html
  head
    title #{title} - AniTech
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 AniTech
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Created and Maintained by: 
        a(href="http://anistark.github.io", target="_blank") AniStark